<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Mail_Smtp" value="servidor email"></add>
    <add key="Mail_Puerto" value="25"></add>
    <add key="Mail_Envio" value="ade_fisla@toyota.cl"></add>
    <add key="Mail_Envio_Nombre" value="Felipe Isla"></add>
    <add key="Mail_Contrasena" value="10.jul.1982"></add>
    <add key="Mail_Destinatario" value="ade_fisla@toyota.cl"></add>
    <add key="Mail_Destinatario_Nombre" value="sorry"></add>
    <add key="Mail_Copia" value="email1@email1.cl;email2@email2.cl"></add>
    <add key="Mail_Asunto" value="Se han Enviado los Registros de forma correcta al Web Service de Toyota"></add>
  </appSettings>

</configuration>