<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Controlador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <!--<configuration>
    <system.windows.forms jitDebugging="true" />
  </configuration>-->

  <applicationSettings>
        <Controlador.Properties.Settings>
            <setting name="Controlador_cotizacion_Cotizacion" serializeAs="String">
                <value>http://10.10.10.102/ws/Cotizacion.asmx</value>
            </setting>
            <setting name="Controlador_facturacion_facturacion" serializeAs="String">
                <value>http://10.10.10.102/ws/facturacion.asmx</value>
            </setting>
            <setting name="Controlador_recepcion_recepcion" serializeAs="String">
                <value>http://10.10.10.102/ws/recepcion.asmx</value>
            </setting>
            <setting name="Controlador_garantia_reggarantia" serializeAs="String">
                <value>http://10.10.10.102/ws/reggarantia.asmx</value>
            </setting>
            <setting name="Controlador_reserva_reserva" serializeAs="String">
                <value>http://10.10.10.102/ws/reserva.asmx</value>
            </setting>
        </Controlador.Properties.Settings>
    </applicationSettings>

</configuration>