
@{
    ViewBag.Title = "Index";
}
@switch (TempData["Estado"])
{
    case 1:
        @Html.Partial("_MostrarListado");
        break;
    case -1:
        <p>Error!</p>
        @Html.Partial("_ErrorCargaArchivo");
        break;
    case 0:
        @Html.Partial("_CargaArchivo");
        break;
}



