
@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<p>Id           :@ViewBag.Detalle.IdEmpleado</p>
<p>Nombre       :@ViewBag.Detalle.Nombre</p>
<p>APaterno     :@ViewBag.Detalle.Apaterno</p>
<p>AMaterno     :@ViewBag.Detalle.Amaterno</p>
<p>Rut          :@ViewBag.Detalle.Rut</p>

<li><a href="/Empleado/Index" class="elements"><span>Volver</span></a></li>

